<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand" href="/">My Chat</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav">

      <li class="nav-item">

        <a class="nav-link" id="my-link" (click)="goToSignUp()">Sign-Up</a>

      </li>

    </ul>

  </div>

</nav>

<div class="row p-0 m-0">

  <div class="col-sm"></div>

  <div class="col-sm p-5">

    <h2 class="form-signin-heading">Reset Password</h2>
    <form #resetForm="ngForm" (ngSubmit)="resetPassword();resetForm.reset()">

      <label for="inputPassword" class="sr-only">New Password</label>

      <input type="password" #pass="ngModel" name="password" pattern="^[A-Z]\w{7,}$" id="inputPassword" class="form-control" [(ngModel)]="password"
        placeholder="Password" required>

      <br>
      <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">
        <div *ngIf="pass.errors?.pattern">
          Password should contain only characters,numeric digits, underscore and start with capital!

        </div>
        <div *ngIf="pass.errors?.required">
          Password is required!
        </div>
      </div>

      <label for="confirmPassword" class="sr-only">Confirm Password</label>

      <input type="password" #confirmpass="ngModel" name="confirmpassword" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword"
        placeholder="Confirm Password" required>

      <br>
      <div [hidden]="confirmpass.valid || confirmpass.pristine" class="alert alert-danger">
        Confirm Password is required!
      </div>

      <div *ngIf="notMatch==1">
        <p class="text-danger">Password and confirm Password does not match!</p>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!resetForm.form.valid">Reset</button>
    </form>
  </div>

  <div class="col-sm"></div>

</div>